@import "src/Styles/mixins.scss";

.visionSection {
  background-color: var(--black);
  padding-top: 280px;
  position: relative;
  height: 974px;
}

@media (max-width: 1300px) {
  .visionSection {
    padding-top: 150px;
    padding-bottom: 150px;
    height: auto;
  }
}

@include large {
  .visionSection {
    padding-bottom: 0;
  }
}

.visionSection [data-container] {
  display: flex;
  position: relative;
}

@media (max-width: 1600px) {
  .visionSection [data-container] {
    position: static;
  }
}

@media (max-width: 1300px) {
  .visionSection [data-container] {
    gap: 100px;
  }
}

@include large {
  .visionSection [data-container] {
    flex-direction: column;
    align-items: center;
  }
}

.wrapper {
  display: flex;
  gap: 50px;
  position: relative;
  margin-top: 70px;
}

@include small {
  .wrapper {
    gap: 30px;
  }
}

.wrapper .animatedLine {
  position: absolute;
  left: -30px;
}

@media (max-width: 1600px) {
  .wrapper .animatedLine {
    left: -57px;
  }
}

@media (max-width: 1300px) and (min-width: 1200px) {
  .wrapper .animatedLine {
    left: -25px;
  }
}

@include small {
  .wrapper .animatedLine {
    left: 0;
  }
}