@import "src/Styles/mixins.scss";

.content {}

.content>h2 {
  letter-spacing: .08em;
  line-height: 1.8em;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 74px;
}

@include large {
  .content>h2 {
    text-align: center;
  }
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 88px 97px;
}

@include large {
  .stats {
    width: fit-content;
    margin: 0 auto;
  }
}