@use"src/Styles/mixins" as m;

.servicesIntro {
  display: flex;
  margin-bottom: 120px;
  position: relative;
}

@include m.large {
  .servicesIntro {
    margin: 0 auto 60px;
    width: fit-content;
  }
}

@include m.medium {
  .servicesIntro {
    margin-bottom: 120px;
  }
}

@include m.small {
  .content {
    margin-left: var(--left-margin-content);
  }
}

.content>h2 {
  margin-bottom: 43px;
  letter-spacing: .16em;
  font-size: .875rem;
  font-weight: 400;
}

@include m.very-small {
  .content>h2 {
    font-size: .8rem;
  }
}

.content>p {
  letter-spacing: .08em;
  line-height: 1.8em;
  font-size: 1.5rem;
  width: 374px;
}

@include m.small {
  .content>p {
    width: 290px;
    font-size: 1.1rem;
  }
}

@include m.very-small {
  .content>p {
    width: 260px;
    font-size: 1rem;
  }
}