@import "src/Styles/mixins.scss";

.roleOverview {
  padding: 120px 0;
  border-top: solid 1px var(--gray);
}

.roleOverview.invert {
  background-color: var(--black);
  color: var(--white);
}

.roleOverview [data-container] {

}

.roleOverview h2 {
  letter-spacing: .08em;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 17px;
}

.lineWrapper {
  width: 400px;
  margin-bottom: 40px;
}

.roleOverview ul {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  justify-content: space-between;
  gap: 30px;
}

.roleOverview ul li {
  list-style: disc;
  width: 400px;
  letter-spacing: .04em;
  line-height: 1.8em;
  font-size: 1rem;
}