@use "src/Styles/mixins/mixins" as m;

@include m.small {
  .technology {
    margin-top: 80px;
  }
}

.technology.hidePseudo {
  margin-top: 100px;
}

.technology.hidePseudo::before {
  display: none;
}