@use "src/Styles/mixins/mixins" as m;

.dataSecurity {
  padding-bottom: 80px;
  border-bottom: solid 1px var(--black);
}

.dataSecurity [data-container] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

@include m.large {
  .dataSecurity [data-container] {
    flex-direction: column;
    align-items: center;
    gap: 120px;
  }
}

@include m.small {
  .dataSecurity [data-container] {
    gap: 60px;
  }
}