@use "src/Styles/mixins/mixins" as m;

.wrapper {
  position: relative;
}

.content {
  width: 374px;
}

@include m.small {
  .content {
    margin-left: var(--left-margin-content);
    width: 307px;
  }
}

@include m.very-small {
  .content {
    width: calc(100% - var(--left-margin-content));
  }
}

.content .title {
  text-transform: uppercase;
  margin-bottom: 42px;
  letter-spacing: .16em;
  font-size: .875rem;
  font-weight: 400;
}

@include m.small {
  .content .title {
    margin-bottom: 30px;
    font-size: .7rem;
  }
}

.content .subTitle {
  letter-spacing: .08em;
  line-height: 1.8em;
  font-size: 1.5rem;
  margin-bottom: 90px;
}

@include m.small {
  .content .subTitle {
    margin-bottom: 50px;
    font-size: 1.2rem;
  }
}

@include m.very-small {
  .content .subTitle {
    font-size: 1rem;
  }
}