@import "src/Styles/mixins.scss";

.wrapper {
  min-height: 1148px;
  position: relative;
}

@media (max-width: 1540px) {
  .wrapper {
    min-height: 100dvh;
  }
}

@include small {
  .wrapper {
    min-height: auto;
    max-height: auto;
    position: relative;
    top: 6px;
  }
}

.backgroundImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
}

@media (max-width: 1540px) {
  .backgroundImg {
    position: fixed;
    object-fit: cover;
  }
}

@include small {
  .backgroundImg {
    object-fit: contain;
    position: static;
  }
}