@import "src/Styles/mixins.scss";

.services {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1300px) {
  .services {
    gap: 80px;
  }
}

@include large {
  .services {
    align-items: center;
    width: 374px;
    margin: 0 auto;
    gap: 0;
  }
}

@include medium {
  .services {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

@include very-small {
  .services {
    gap: 20px;
  }
}

@media (max-width: 1500px) {
  .services [data-container] {
    position: static;
  }
}

@include medium {
  .services [data-container] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

.serviceImgHolder {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  width: 50%;
}

@include large {
  .serviceImgHolder {
    display: none;
  }
}

@include medium {
  .serviceImgHolder {
    display: block;
    position: static;
    translate: 0 0;
    inset: auto;
    width: 100%;
  }
}

@include very-small {
  .serviceImgHolder {
    scale: 1.066;
  }
}

[dir=ltr] .serviceImgHolder {
  right: 0;
  left: auto;
}

[dir=rtl] .serviceImgHolder {
  left: 0;
  right: auto;
}

[dir=ltr] .serviceImgHolder1 {
  right: 0;
  left: auto;
}

.serviceImgHolder1>img {
  scale: .95;
}