@use "src/Styles/mixins/mixins" as m;

.jobsSection {
  padding: 200px 0 300px;
  background-color: var(--black);
  color: var(--white);
  position: relative;
}

@include m.large {
  .jobsSection {
    padding: 120px 0;
  }
}

.jobsSection [data-container] {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

@include m.large {
  .jobsSection [data-container] {
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
}

.jobsSectionBg {
  width: 940px;
  height: 750px;
  position: absolute;
  right: -99px;
  top: 50px;
}

@include m.large {
  .jobsSectionBg {
    display: none;
  }
}