@import "src/Styles/mixins.scss";

.industrySection {
  padding: 150px 0 82px;
  background-color: var(--black);
  color: var(--white);
  position: relative;
}

.industrySection::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--light-gray);
  width: 100%;
  height: 1px;
}

.industrySection [data-container] {
  position: relative;
}

.animatedLine {
  position: absolute;
  left: -30px;
}

@media (max-width: 1600px) {
  .animatedLine {
    left: -57px;
  }
}

@media (max-width: 1300px) and (min-width: 1200px) {
  .animatedLine {
    left: -25px;
  }
}

@include small {
  .animatedLine {
    left: 0;
  }
}