@use"src/Styles/mixins" as m;

.journeySection {
  background-color: var(--website-bg);
  padding: 128px 0 136px;
  min-height: 1000px;
}

@include m.medium {
  .journeySection {
    min-height: 950px;
    padding-bottom: 0;
  }
}

@include m.small {
  .journeySection {
    padding: 100px 0 0;
    min-height: 800px;
  }
}

@media (max-width: 520px) {
  .journeySection {
    min-height: 850px;
  }
}

@include m.very-small {
  .journeySection {
    min-height: 920px;
  }
}

.journeySection h2 {
  letter-spacing: .08em;
  line-height: 1.8em;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 50px;
}

@include m.small {
  .journeySection h2 {
    font-size: 1.4rem;
  }
}