@use"src/Styles/mixins" as m;

.timelineCard {
  border: solid 1px var(--black);
  padding: 30px 40px;
  border-radius: 15px;
  width: fit-content;
  min-height: 278px;
}

@include m.small {
  .timelineCard {
    width: 90%;
    margin: 0 auto;
    padding: 20px 24px;
    min-height: 213px;
  }
}

.year {
  font-weight: 400;
  letter-spacing: .08em;
  font-size: 2.5rem;
  color: var(--orange2);
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

@include m.medium {
  .year {
    font-size: 2rem;
  }
}

@include m.small {
  .year {
    font-size: 1.5rem;
    margin-bottom: 35px;
  }
}

.year::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -18px;
  width: 100%;
  border-bottom: solid 1px var(--black);
}

@include m.small {
  .year::before {
    bottom: -13px;
  }
}

.title {
  letter-spacing: .16em;
  line-height: 1.8em;
  font-size: .8rem;
  font-weight: 400;
  margin-bottom: 18px;
  width: 537px;
}

@include m.medium {
  .title {
    width: 440px;
    height: 20px;
    margin-bottom: 38px;
    font-size: .7rem;
  }
}

@include m.small {
  .title {
    width: 90%;
    letter-spacing: .1em;
    line-height: 1.6em;
    margin-bottom: 33px;
  }
}

@media (max-width: 420px) {
  .title {
    margin-bottom: 50px;
  }
}

.description {
  letter-spacing: .05em;
  line-height: 1.8em;
  font-size: 1rem;
  width: 537px;
}

@include m.medium {
  .description {
    width: 440px;
    font-size: .8rem;
    line-height: 1.6em;
  }
}

@include m.small {
  .description {
    width: 90%;
    font-size: .7rem;
  }
}