@use"src/Styles/mixins" as m;

.stackContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 380px;
  min-height: 310px;
}

@include m.small {
  .stackContent {
    width: 300px;
  }
}

@include m.very-small {
  .stackContent {
    width: 100%;
  }
}

.stackContent>h2 {
  letter-spacing: .08em;
  line-height: 1.8em;
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 40px;
  text-wrap: balance;
  position: relative;
  top: 100px;
  transition: top .6s ease-in-out;

  &.active {
    top: 0;
  }
}

@include m.large {
  .stackContent>h2 {
    margin-bottom: 20px;
  }
}

@include m.small {
  .stackContent>h2 {
    font-size: 1.1rem;
  }
}

@include m.very-small {
  .stackContent>h2 {
    font-size: .9rem;
  }
}

.stackContent>p {
  letter-spacing: .04em;
  line-height: 1.8em;
  font-size: 1rem;
  text-wrap: balance;
  position: relative;
  top: 100px;
  transition: top .6s .1s ease-in-out;

  &.active {
    top: 0;
  }
}

@include m.small {
  .stackContent>p {
    font-size: .9rem;
  }
}