@import "src/Styles/mixins.scss";

.button {
  border: solid 1px var(--black);
  background-color: var(--white);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  -webkit-tap-highlight-color: transparent;
  transition: opacity .4s ease;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.button::before,
.button::after {
  --x-axis: 11.1px;
  --rotate: 40deg;
  content: '';
  position: absolute;
  background-color: var(--black);
  width: 15px;
  height: 1px;
}

.button::before {
  left: var(--x-axis);
  rotate: calc(var(--rotate) - (var(--rotate) * 2));
}

.button::after {
  right: var(--x-axis);
  rotate: var(--rotate);
}