@use "src/Styles/mixins/mixins" as m;

.content {}

.content .title {
  text-transform: uppercase;
  margin-bottom: 42px;
  letter-spacing: .16em;
  font-size: .875rem;
  font-weight: 400;
}

@include m.small {
  .content .title {
    margin-bottom: 30px;
    font-size: .7rem;
  }
}

.content .subTitle {
  margin-bottom: 71px;
  letter-spacing: .08em;
  font-size: 1.5rem;
  line-height: 1.8em;
}

@include m.small {
  .content .subTitle {
    margin-bottom: 50px;
    font-size: 1.1rem;
  }
}

@include m.very-small {
  .content .subTitle {
    font-size: 1rem;
    margin-bottom: 40px;
  }
}

.content .description {
  margin-bottom: 51px;
  line-height: 1.8em;
  font-size: 1rem;
  line-height: 1.8rem;
  width: 340px;
}

@include m.small {
  .content .description {
    width: 290px;
    font-size: .8rem;
  }
}

@media (max-width: 500px) {
  .content .description {
    width: 100%;
  }
}