@import "src/Styles/mixins.scss";

.sliderButtons {
  --buttonsHeight: 100px;
  min-height: var(--buttonsHeight);
  display: flex;
  align-items: center;
  width: 99%;
}

@include medium {
  .sliderButtons {
    --buttonsHeight: 60px;
    padding: 10px 0;
  }
}

.sliderButtons button {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: none;
  outline: none;
  width: fit-content;
  pointer-events: none;
}

.sliderButtons.active button {
  pointer-events: all;
}

.sliderButtons .nextButton {
  rotate: 180deg;
}

.sliderButtons button svg {
  width: var(--buttonsHeight);
  height: var(--buttonsHeight);
}

.sliderButtons .line {
  flex: 1;
  height: 1px;
  background-color: var(--black);
  opacity: 0;
  transition: opacity .6s ease;
}

.sliderButtons.active .line {
  opacity: 1;
  transition: opacity .6s .6s ease;
}