@import "src/Styles/mixins.scss";

.nav {
  margin-right: 170px;
  transition: opacity 0, top 0;
}

@media (max-width: 1900px) {
  .nav {
    margin-right: 100px;
  }
}

@include large {
  .nav {
    margin-right: 0;
  }
}

@include small {
  .nav {
    position: fixed;
    left: 0;
    top: -10%;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    padding-top: 140px;
    opacity: 0;
    transition: opacity .3s .1s, top 1s;

    &.active {
      top: 0;
      opacity: 1;
    }
  }
}

.nav>ul {
  display: flex;
}

@include small {
  .nav>ul {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}

.nav>ul>li>a {
  display: block;
  color: var(--black);
  padding: 15px;
  transition: color .4s ease;

  &:hover {
    color: var(--dark-orange);
  }

  &[class=active] {
    color: var(--gray);
  }
}

@include small {
  .nav>ul>li>a {
    font-size: 1.1rem;

    &:hover {
      color: var(--black);
    }

    &[class=active] {
      color: var(--dark-orange);
    }
  }
}