@import "src/Styles/mixins.scss";

.services {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 190px;
}

@include large {
  .services {
    align-items: center;
    width: 374px;
    margin: 0 auto 190px;
  }
}

@include medium {
  .services {
    margin: 0 auto 190px;
    width: fit-content;
  }
}

@include small {
  .services {
    gap: 0;
  }
}

@include very-small {
  .services {
    gap: 20px;
  }
}

.services [data-container] {
  position: relative;
}

@media (max-width: 1500px) {
  .services [data-container] {
    position: static;
  }
}

@include medium {
  .services [data-container] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

.serviceImgHolder {
  position: absolute;
  top: 0;
}

@include large {
  .serviceImgHolder {
    display: none;
  }
}

@include medium {
  .serviceImgHolder {
    display: block;
    position: relative;
    inset: auto !important;
  }
}

[dir=ltr] .serviceImgHolder {
  right: 0;
}

[dir=rtl] .serviceImgHolder {
  left: 0;
}

[dir=ltr] .serviceImgHolder1 {
  right: 75px;
}

.serviceImgHolder1>img {
  scale: 1.25;
}

@media (max-width: 1300px) {
  .serviceImgHolder1>img {
    scale: 1;
  }
}

[dir=rtl] .serviceImgHolder2 {
  width: 634px;
  height: 680px;
}

@include medium {
  [dir=rtl] .serviceImgHolder2 {
    width: 553px;
  }
}

@include small {
  [dir=rtl] .serviceImgHolder2 {
    max-width: 553px;
    min-width: 100%;
    height: 60%;
    width: auto;
    scale: 1.06 1;
  }
}

@include very-small {
  [dir=rtl] .serviceImgHolder2 {
    height: 55%;
  }
}

@include small {
  [dir=ltr] .serviceImgHolder3 {
    width: 100%;
    scale: 1.06 1;
  }
}

[dir=ltr] .serviceImgHolder3::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: var(--website-bg);
}

@include medium {
  [dir=ltr] .serviceImgHolder3::before {
    display: none;
  }
}

@include small {
  [dir=ltr] .serviceImgHolder3::before {
    display: block;
  }
}