@import "src/Styles/mixins.scss";

.services {
  display: flex;
  flex-direction: column;
  margin-bottom: 190px;
}

.serviceImgHolder {
  position: absolute;
}

[dir=ltr] .serviceImgHolder {
  right: 0;
}

[dir=rtl] .serviceImgHolder {
  left: 0;
}

.serviceImgHolder>img {

}

[dir=ltr] .serviceImgHolder1 {
  right: 75px;
}

.serviceImgHolder1>img {
  scale: 1.25;
}

[dir=ltr] .serviceImgHolder3::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: var(--website-bg);
}