@use "src/Styles/mixins/mixins" as m;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 184px;
}

@include m.small {
  .wrapper {
    scale: .9;
  }
}

@media (max-width: 620px) {
  .wrapper {
    scale: 1;
  }
}

.wrapper>p:first-child {
  letter-spacing: .16em;
  font-size: .875rem;
  margin-bottom: 20px;
}

.wrapper>p:last-child {
  letter-spacing: .08em;
  font-size: 1.5rem;
  margin-top: 16px;
  opacity: 0;
  transition: opacity 1.2s ease;

  &.active {
    opacity: 1;
  }
}

@include m.medium {
  .wrapper>p:last-child {
    font-size: 1.25rem;
  }
}