@use"src/Styles/mixins" as m;

.card {
  background-color: var(--white);
  color: var(--black);
  border-radius: 16px;
  padding: 56px 40px;
  width: 420px;
  margin-top: 100px;
}

@include m.medium {
  .card {
    margin: 100px auto 0;
  }
}

@include m.small {
  .card {
    width: 320px;
    padding: 30px 20px;
  }
}

@include m.very-small {
  .card {
    width: 100%;
  }
}

.card>p {
  letter-spacing: .08em;
  line-height: 1.8em;
  font-size: 1.5rem;
  margin-bottom: 60px;
  width: 330px;
}

@include m.small {
  .card>p {
    width: 260px;
    font-size: 1.2rem;
    margin-bottom: 50px;
  }
}

@include m.very-small {
  .card>p {
    width: 100%;
    font-size: 1rem;
  }
}