@import "src/Styles/mixins.scss";

.coreExpertise {
  background-color: var(--black);
  height: 1000px;
  position: relative;
  display: flex;
  align-items: center;
}

@include large {
  .coreExpertise {
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    height: auto;
  }
}

@include small {
  .coreExpertise {
    gap: 60px;
  }
}

@include large {
  .coreExpertise [data-container] {
    display: flex;
    justify-content: center;
  }
}

.coreExpertise .coreExpertiseBg {
  position: absolute;
  right: 0;
  top: 0;
  width: 734px;
  height: 894px;
  object-fit: cover;
}

@media (max-width: 1500px) {
  .coreExpertise .coreExpertiseBg {
    width: 593px;
    height: 894px;
  }
}

@include large {
  .coreExpertise .coreExpertiseBg {
    position: static;
    width: 100%;
    height: auto;
  }
}