@import "src/Styles/mixins.scss";

.service {
  display: flex;
  height: 680px;
  position: relative;
}

@media (max-width: 1500px) {
  .service {
    position: relative;
  }
}

@include large {
  .service {
    height: auto;
    width: 100%;
  }
}

@include medium {
  .service {
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 40px;
  }
}