@import "src/Styles/mixins.scss";

.serviceContent {
  width: 340px;
}

@include large {
  .serviceContent {
    width: auto;
  }
}

@include medium {
  .serviceContent {
    width: 374px;
  }
}

@include small {
  .serviceContent {
    width: 290px;
    margin-left: 30px;
  }
}

[dir=rtl] .serviceContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
}

.serviceContent>h2 {
  letter-spacing: .08em;
  text-transform: uppercase;
  line-height: 1.5em;
  font-size: 2.3rem;
  font-weight: 400;
  margin: 80px 0 43px;
}

@include small {
  .serviceContent>h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}

.serviceContent>p {
  line-height: 1.8em;
  font-size: 1rem;
  overflow-wrap: break-word;
  margin-bottom: 32px;
}

@include small {
  .serviceContent>p {
    font-size: .9rem;
  }
}

.button {
  border: solid 1px var(--black);
  display: flex;
  width: fit-content;
  border-radius: 8px;
}

@include small {
  .button {
    scale: .9;
    position: relative;
    left: -6px;
  }
}

[dir=rtl] .button {
  flex-direction: row-reverse;
}

.button>span {
  color: var(--black);
  white-space: nowrap;
  padding: 10px;
  transition: color .4s ease, background-color .4s ease;
}

.button:hover>span {
  background-color: var(--black);
  color: var(--white);
}

.button .arrowHolder {
  width: 40px;
  border-left: solid 1px var(--black);
  @include center-x-y;
}

.button .arrowHolder>svg {
  width: 16px;
  height: 16px;
}