@import "src/Styles/mixins.scss";

.valueSection>p {
  line-height: 1.8em;
  text-align: center;
  font-size: 1.5rem;
  max-width: 740px;
  margin: 0 auto;
  text-wrap: balance;
}

@include medium {
  .valueSection>p {
    font-size: 1.3rem;
  }
}

@include small {
  .valueSection>p {
    font-size: 1rem;
  }
}

@include very-small {
  .valueSection>p {
    font-size: .9rem;
  }
}