:root {
  --black: #000;
  --dark-gray: #242323;
  --gray2: #666666;
  --gray: #707070;
  --light-gray: #b4b4b4;
  --very-light-gray2: #cccccc;
  --very-light-gray: #e8e6e6;
  --website-bg: #fff;
  --white: #fff;
  --orange: #e15f09;
  --orange2: #dd5d09;
  --dark-orange: #c45308;
  --light-orange: #efa573;
  --blue: #116dff;
}