/* Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("../Fonts/Montserrat/Montserrat-Light.ttf"), format("ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Fonts/Montserrat/Montserrat-Regular.ttf"), format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Fonts/Montserrat/Montserrat-Medium.ttf"), format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Fonts/Montserrat/Montserrat-SemiBold.ttf"), format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Fonts/Montserrat/Montserrat-Bold.ttf"), format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Fonts/Montserrat/Montserrat-ExtraBold.ttf"), format("ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}