@import "src/Styles/mixins.scss";

:root {
  --website-width: 1518px;
  --container-width: 1400px;
  --button-active-scale: .991;
  --shadow-height: 380px;
  --left-margin-content: 30px;
  --why-us-section-padding: 120px;
}

@media (max-width: 1600px) {
  :root {
    --container-width: 1100px;
  }
}

@media (max-width: 1510px) {
  :root {
    --website-width: 1510px;
  }
}

@media (max-width: 1509px) {
  :root {
    --website-width: 100%;
  }
}

@include large {
  :root {
    --container-width: 900px;
  }
}

@include medium {
  :root {
    --container-width: 700px;
    --why-us-section-padding: 80px;
  }
}

@include small {
  :root {
    --container-width: 88%;
  }
}

@include very-small {
  :root {
    --container-width: 94%;
  }
}