@use "src/Styles/mixins/mixins" as m;

.infoSection {
  background-color: var(--website-bg);
  position: relative;
  padding: 170px 0;
  height: 760px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

@include m.large {
  .infoSection {
    height: auto;
    padding-bottom: 0;
  }
}

@include m.small {
  .infoSection {
    padding-top: 100px;
  }
}

.infoSection [data-container] {
  display: flex;
  justify-content: flex-end;
}

@include m.large {
  .infoSection [data-container] {
    flex-direction: column;
    justify-content: center;
  }
}

.backgroundImg {
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0 -50%;
  object-fit: contain;
  width: 760px;
  height: 760px;
}

@media (max-width: 1500px) {
  .backgroundImg {
    width: 600px;
    height: 600px;
  }
}

@include m.large {
  .backgroundImg {
    position: static;
    inset: auto;
    translate: 0;
    width: 100%;
    background-position-x: 50%;
  }
}

@include m.small {
  .backgroundImg {
    height: 500px;
  }
}

@include m.very-small {
  .backgroundImg {
    height: 350px;
  }
}