@use"src/Styles/mixins" as m;


.input {
  display: flex;
  width: 100%;
  position: relative;
}

.input>input {
  outline: none;
  border: solid 1px var(--black);
  background-color: var(--white);
  color: var(--black);
  border-radius: 10px;
  flex: 1;
  padding: 3px;
  padding-left: 16px;
  min-height: 40px;
  max-width: 100%;

  &:focus {
    border-width: 2px;
    background-color: var(--white);
  }

  &:not(:focus) {
    background-color: var(--white) !important;
  }

  &:hover {
    border-width: 2px;
    background-color: var(--very-light-gray) !important;
  }
}

@include m.small {
  .input>input {
    padding-right: 110px;
  }
}

.input>input.invalid {
  background-color: var(--light-orange);
}

.input>button {
  -webkit-tap-highlight-color: transparent;
  background-color: var(--black);
  color: var(--white);
  font-size: 1rem;
  letter-spacing: .04em;
  border: solid 1px var(--black);
  border-radius: 10px;
  padding: 4px 10px;
  position: relative;
  right: 18px;
  transition: color .4s ease, background-color .4s ease;
  min-width: 120px;
  height: 40px;

  &:hover {
    background-color: var(--white);
    color: var(--black);
  }

  &:disabled {
    background-color: var(--very-light-gray2);
    color: var(--black);
  }
}

@include m.small {
  .input>button {
    position: absolute;
    right: 0;
    font-size: .8rem;
    min-width: 100px;
  }
}