@import "src/Styles/mixins.scss";

.input {
  position: relative;
}

.input>select {
  font-family: montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: solid 1px var(--black);
  outline: solid 1px transparent;
  background-color: transparent;
  color: var(--black);
  width: 100%;
  padding: 10px;
  padding-right: 20px;
  border-radius: 6px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover,
  &:focus {
    outline-color: var(--black);
  }
}

.input>svg {
  position: absolute;
  right: 16px;
  top: 48px;
  width: 14px;
  height: 14px;
  pointer-events: none;
}

@include small {
  .input>svg {
    width: 12px;
    height: 12px;
  }
}

.input>label {
  display: block;
  width: fit-content;
  cursor: pointer;
  margin-bottom: 15px;
  padding-right: 10px;
}

@include small {
  .input>label {
    font-size: .9rem;
  }
}

.input>label.required::after {
  content: " *";
}

.input>:where(input, textarea) {
  all: initial;
  font-family: montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: solid 1px var(--black);
  outline: solid 1px transparent;
  background-color: transparent;
  color: var(--black);
  width: 100%;
  padding: 11px;
  padding-left: 16px;
  border-radius: 8px;

  &:hover,
  &:focus {
    outline-color: var(--black);
  }
}

@include small {
  .input>:where(input, textarea) {
    font-size: .9rem;
    padding: 10px;
  }
}

.input>textarea {
  resize: none;
  min-height: 152px;

  &::placeholder {
    color: var(--black);
  }

  &.resize {
    resize: both;
  }
}