@import "src/Styles/mixins.scss";

.logos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 80px 10px;
  align-items: flex-start;
  padding-top: 10px;
}

@include large {
  .logos {
    gap: 60px 0;
  }
}

@include small {
  .logos {
    gap: 40px 50px;
  }
}

@include very-small {
  .logos {
    gap: 40px 0;
  }
}