@use"src/Styles/mixins" as m;

.dots {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  gap: 16px;
  margin-top: 60px;
  position: relative;
}

.dot {
  -webkit-tap-highlight-color: transparent;
  border: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--gray);
  transition: opacity .4s ease;

  &.active {
    background-color: var(--white);
  }
}