@import "src/Styles/mixins.scss";

.servicesIntro {
  display: flex;
  margin-bottom: 120px;
  position: relative;
}

@include large {
  .servicesIntro {
    margin: 0 auto 60px;
    width: fit-content;
  }
}

@include medium {
  .servicesIntro {
    margin-bottom: 50px;
  }
}

.servicesIntro .animatedLine {
  position: absolute;
  left: -30px;
}

@media (max-width: 1600px) {
  .servicesIntro .animatedLine {
    left: -57px;
  }
}

@media (max-width: 1300px) and (min-width: 1200px) {
  .servicesIntro .animatedLine {
    left: -25px;
  }
}

@include small {
  .servicesIntro .animatedLine {
    left: 0;
  }
}

@include small {
  .content {
    margin-left: var(--left-margin-content);
  }
}

.content>h2 {
  margin-bottom: 43px;
  letter-spacing: .16em;
  font-size: .875rem;
  font-weight: 400;
}

@include very-small {
  .content>h2 {
    font-size: .8rem;
  }
}

.content>p {
  letter-spacing: .08em;
  line-height: 1.8em;
  font-size: 1.5rem;
  width: 374px;
}

@include small {
  .content>p {
    width: 290px;
    font-size: 1.1rem;
  }
}

@include very-small {
  .content>p {
    width: 260px;
    font-size: 1rem;
  }
}