@use "src/Styles/mixins/mixins" as m;

.careersSection {
  background-color: var(--black);
  color: var(--white);
  padding: 120px 0;
}

.careersSection [data-container] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

@include m.large {
  .careersSection [data-container] {
    flex-direction: column;
    gap: 90px;
  }
}

@include m.small {
  .careersSection [data-container] {
    gap: 120px;
  }
}