@import "src/Styles/mixins.scss";

.partners {
  display: flex;
  align-items: center;
  gap: 80px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 200px;
}

@include large {
  .partners {
    gap: 50px;
  }
}

@include medium {
  .partners {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
  }
}

@media (max-width: 462px) {
  .partners {
    gap: 80px;
  }
}

.partners>img {
  max-width: 170px;
  min-width: 130px;
}