@use"src/Styles/mixins" as m;

.partners {
  display: flex;
  align-items: center;
  gap: 80px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 200px;
}

@include m.large {
  .partners {
    gap: 50px;
  }
}

@include m.medium {
  .partners {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
  }
}

@media (max-width: 462px) {
  .partners {
    gap: 80px;
  }
}

.partners>a:focus {
  outline-offset: 12px;
}

.partners>a>img {
  max-width: 170px;
  min-width: 130px;
  opacity: 0;
}

.partners.active>a>img {
  opacity: 1;
}

$partnersImgCount: 5;
$partnerDelay: 0;
$partnerDelayIncrement: .35;

@for $i from 1 through $partnersImgCount {
  .partners>a:nth-child(#{$i})>img {
    $calculatedDelay: (
      $partnerDelayIncrement * ($i - 1) + s
    );
  transition: 1.6s $calculatedDelay ease;
}
}