@use "src/Styles/mixins/mixins" as m;

.dataManagement {
  padding: 200px 0 60px;
  height: 1000px;
  position: relative;
  display: flex;
  align-items: center;
}

@include m.large {
  .dataManagement {
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    height: auto;
  }
}

@include m.small {
  .dataManagement {
    gap: 60px;
  }
}

@include m.very-small {
  .dataManagement {
    gap: 0;
  }
}

@include m.large {
  .dataManagement [data-container] {
    display: flex;
    justify-content: center;
  }
}

.dataManagement .dataManagementBg {
  position: absolute;
  right: 0;
  top: 0;
  width: 734px;
  height: 894px;
  object-fit: cover;
  opacity: .6;
}

@media (max-width: 1500px) {
  .dataManagement .dataManagementBg {
    width: 593px;
    height: 894px;
  }
}

@include m.large {
  .dataManagement .dataManagementBg {
    display: none;
  }
}

@include m.small {
  .dataManagement .dataManagementBg {
    display: block;
    position: static;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}