@use "src/Styles/mixins/mixins" as m;

.socialMedia {
  display: flex;
  gap: 32px;
}

@include m.small {
  .socialMedia {
    gap: 20px;
  }
}

.socialMedia>li>a {
  -webkit-tap-highlight-color: transparent;
  display: block;
  width: 24px;
  height: 24px;
  @include m.center-x-y;
}

.socialMedia>li>a>svg {
  width: 80%;
  height: 80%;
}