@import "src/Styles/mixins.scss";

.homePage {}

.backgroundImage {
  width: 100%;
  height: 970px;
  position: absolute;
  left: 0;
  top: 109px;
  z-index: -1;
}

@include medium {
  .backgroundImage {
    height: 700px;
  }
}

@include small {
  .backgroundImage {
    top: 0;
    height: 740px;
  }
}

.backgroundImage>img {
  object-fit: contain;
  height: 50%;
}

.backgroundImage .top {
  position: absolute;
  right: 0;
  top: 0;
  object-position: 100% 0;
}

@include small {
  .backgroundImage .top {
    top: 60px;
  }
}

@include very-small {
  .backgroundImage .top {
    top: 70px;
    scale: 1 1.1;
  }
}

.backgroundImage .bottom {
  position: absolute;
  left: 0;
  bottom: 60px;
  object-position: 0 0;
  scale: 1 1.05;
}

@include small {
  .backgroundImage .bottom {
    bottom: 0;
  }
}

@media (max-width: 620px) {
  .backgroundImage .bottom {
    bottom: -60px;
  }
}

@include very-small {
  .backgroundImage .bottom {
    bottom: -160px;
    scale: 1 1.4;
  }
}

.backgroundImage::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 380px;
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0) 0%,
      #000000 100%);
  z-index: 1;
}

@include medium {
  .backgroundImage::before {
    height: 240px;
  }
}