@import "src/Styles/mixins.scss";

.whyUsSection {
  padding: 120px 0;
  position: relative;
}

@media (max-width: 1600px) {
  .whyUsSection {
    position: static;
  }
}

.backgroundImg {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("src/Assets/Images/servers.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: -50px;
  scale: 1 1.3;
  width: 100%;
  z-index: -1000;
  height: 100%;
}

@media (max-width: 1600px) {
  .backgroundImg {
    position: fixed;
    background-size: cover;
  }
}

.card {
  position: relative;
  background-color: var(--black);
  color: var(--white);
  width: 490px;
  padding: 56px 31px 66px;
  display: flex;
  gap: 30px;
  border-radius: 16px;
  top: 120px;
  transition: top 1s .2s ease-in-out;

  &.active {
    top: 0;
  }
}

@media (max-width: 1600px) {
  .card {
    gap: 58px;
  }
}

@include large {
  .card {
    margin: 0 auto;
  }
}

@include small {
  .card {
    width: 400px;
    gap: 30px;
  }
}

@media (max-width: 520px) {
  .card {
    width: 100%;
  }
}

@include very-small {
  .card {
    padding: 30px 20px;
  }
}

.card .animatedLine {}