@use"src/Styles/mixins" as m;

.header {
  background-color: var(--website-bg);
  width: 100%;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  transition: top .3s ease;

  &.active {
    top: -101%;
  }
}

.header>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header>div>a {
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px;
}

@include m.small {
  .header>div>a {
    padding: 0;
  }
}

.header>div>a>svg {
  width: 70px;
  height: 28px;
}

@include m.small {
  .header>div>a>svg {
    width: 40px;
    height: 16px;
  }
}

.header>div>a>span {
  display: block;
  letter-spacing: .35em;
  color: var(--black);
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}

@include m.medium {
  .header>div>a>span {
    font-size: 1rem;
    letter-spacing: .3em;
  }
}

@include m.small {
  .header>div>a>span {
    font-size: .8rem;
  }
}