@import "src/Styles/mixins.scss";

.jobInfo {
  display: flex;
  align-items: center;
  gap: 180px;
  width: fit-content;
  margin: 0 auto 150px;
}

@include medium {
  .jobInfo {
    gap: 120px;
  }
}

@include small {
  .jobInfo {
    gap: 60px;
  }
}

@media (max-width: 620px) {
  .jobInfo {
    flex-direction: column;
    gap: 80px;
  }
}