@import "src/Styles/mixins.scss";

.visionSection {
  background-color: var(--black);
  padding-top: 280px;
  position: relative;
  height: 1090px;
  margin-bottom: 90px;
}

.visionSection>div {
  display: flex;
}

.content {
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 320px;
  margin-left: 56px;
}

.content .title {
  letter-spacing: .16em;
  font-size: .8rem;
  font-weight: 400;
}

.content .subTitle {
  line-height: 1.8em;
  font-size: 1.5rem;
}

.content .description {
  line-height: 1.8em;
  font-size: 1rem;
}

.imgHolder {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 240px;
}

.imgHolder>img {
  
}