@import "src/Styles/mixins.scss";

.visionSection {
  background-color: var(--black);
  padding-top: 280px;
  position: relative;
  height: 940px;
  margin-bottom: 90px;
}

.visionSection>div {
  display: flex;
}

.wrapper {
  display: flex;
  gap: 50px;
}

.wrapper .content {
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 320px;
  flex-shrink: 0;
}

.wrapper .title {
  letter-spacing: .16em;
  font-size: .8rem;
  font-weight: 400;
}

.wrapper .subTitle {
  line-height: 1.8em;
  font-size: 1.5rem;
}

.wrapper .description {
  line-height: 1.8em;
  font-size: 1rem;
}

.imgHolder {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 240px;
  width: 50vw;
}

.imgHolder .img {
  background-image: url("src/Assets/Images/vision-section-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 700px;
  background-position-x: 90px;
  scale: 1.3 1.2;
}
