@import "src/Styles/mixins.scss";

.visionSection {
  background-color: var(--black);
  padding-top: 280px;
  position: relative;
  height: 940px;
  margin-bottom: 90px;
}

@media (max-width: 1300px) {
  .visionSection {
    padding-top: 150px;
    padding-bottom: 150px;
    height: auto;
  }
}

@include large {
  .visionSection {
    padding-bottom: 0;
  }
}

.visionSection>div {
  display: flex;
}

@media (max-width: 1300px) {
  .visionSection>div {
    gap: 100px;
  }
}

@include large {
  .visionSection>div {
    flex-direction: column;
    align-items: center;
  }
}

.wrapper {
  display: flex;
  gap: 50px;
}

@include small {
  .wrapper {
    gap: 30px;
  }
}

.wrapper .content {
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 320px;
  flex-shrink: 0;
}

@include small {
  .wrapper .content {
    max-width: 290px;
    gap: 30px;
  }
}

@include very-small {
  .wrapper .content {
    max-width: 280px;
  }
}

.wrapper .title {
  letter-spacing: .16em;
  font-size: .8rem;
  font-weight: 400;
}

.wrapper .subTitle {
  line-height: 1.8em;
  font-size: 1.5rem;
}

@include small {
  .wrapper .subTitle {
    font-size: 1.2rem;
  }
}

.wrapper .description {
  line-height: 1.8em;
  font-size: 1rem;
}

@include small {
  .wrapper .description {
    font-size: .9rem;
  }
}