@import "src/Styles/mixins.scss";

.technology {
  position: relative;
  height: 1000px;
}

@media (max-width: 1400px) {
  .technology {
    height: 880px;
  }
}

@media (max-width: 1300px) {
  .technology {
    height: 820px;
  }
}

@include large {
  .technology {
    height: 740px;
  }
}

@media (max-width: 1100px) {
  .technology {
    height: 680px;
  }
}

@include medium {
  .technology {
    height: 600px;
  }
}

@include small {
  .technology {
    height: 620px;
  }
}

@include very-small {
  .technology {
    height: 430px;
  }
}

.technology .technologyBg {
  position: absolute;
  left: 0;
  top: -100px;
  width: 100%;
  height: auto;
  z-index: -1;
}

@include small {
  .technology .technologyBg {
    height: 695px;
    object-fit: cover;
    object-position: -250px 0;
  }
}

@media (max-width: 620px) {
  .technology .technologyBg {
    object-position: -390px 0;
  }
}

@include very-small {
  .technology .technologyBg {
    height: 500px;
    object-position: -240px 0;
  }
}

.technology>h1 {
  letter-spacing: .08em;
  line-height: 1.5em;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  width: 922px;
  margin: 0 auto;
  padding: 30px 0;
}

@include medium {
  .technology>h1 {
    font-size: 3rem;
    width: 700px;
  }
}

@include small {
  .technology>h1 {
    font-size: 1.8rem;
    width: 340px;
  }
}

@include very-small {
  .technology>h1 {
    font-size: 1.5rem;
    width: 100%;
  }
}