@use "src/Styles/mixins/mixins" as m;

.technology {
  position: relative;
}

.technology .technologyBg {
  position: relative;
  top: -100px;
  z-index: -1;
}

@include m.small {
  .technology .technologyBg {
    height: 695px;
    object-fit: cover;
    object-position: -240px 0;
  }
}

@media (max-width: 620px) {
  .technology .technologyBg {
    object-position: -390px 0;
  }
}

@media (max-width: 520px) {
  .technology .technologyBg {
    object-position: -480px 0;
  }
}

@include m.very-small {
  .technology .technologyBg {
    height: 500px;
    object-position: -300px 0;
  }
}

.technology>h1 {
  letter-spacing: .08em;
  line-height: 1.5em;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  width: 922px;
  margin: 0 auto;
  padding: 30px 0;
  position: absolute;
  left: 50%;
  translate: -50% 0;
  top: 100px;
}

@include m.medium {
  .technology>h1 {
    font-size: 3rem;
    width: 700px;
  }
}

@include m.small {
  .technology>h1 {
    font-size: 1.8rem;
    width: 340px;
  }
}

@include m.very-small {
  .technology>h1 {
    font-size: 1.5rem;
    width: 100%;
  }
}

.technology>p {
  line-height: 1.8em;
  text-align: center;
  font-size: 1.5rem;
  max-width: 740px;
  margin: 0 auto;
  text-wrap: balance;
  position: relative;
  top: -50px;
}

@include m.medium {
  .technology>p {
    font-size: 1.3rem;
  }
}

@include m.small {
  .technology>p {
    font-size: 1rem;
  }
}

@include m.very-small {
  .technology>p {
    font-size: .9rem;
  }
}