@import "src/Styles/mixins.scss";

.lineContainer {
  position: absolute;
  left: -30px;
}

@media (max-width: 1600px) {
  .lineContainer {
    left: -57px;
  }
}

@media (max-width: 1300px) and (min-width: 1200px) {
  .lineContainer {
    left: -25px;
  }
}

@include small {
  .lineContainer {
    left: 0;
  }
}

.line {
  background-color: var(--light-gray);
  width: 1px;
  height: 440px;
  position: relative;
}

.line .animatedLine {
  position: absolute;
  top: 0;
  right: -3px;
  background-color: var(--white);
  width: 3px;
  height: 129px;
  transition: top 1s;

  &.active {
    top: 60px !important;
  }
}