@use"src/Styles/mixins" as m;

.button {
  border: solid 1px var(--black);
  display: flex;
  width: fit-content;
  text-align: center;
  border-radius: 8px;
  -webkit-tap-highlight-color: transparent;

  &.invert {
    border-color: var(--white);
  }
}

@include m.small {
  .button {
    scale: .9;
    position: relative;
    left: -6px;
  }
}

[dir=rtl] .button {
  flex-direction: row-reverse;
}

.button>span {
  color: var(--black);
  white-space: nowrap;
  padding: 10px 18px;
  min-width: 120px;
  border-radius: 7px 0 0 7px;
  transition: color .4s ease, background-color .4s ease;
}

.button.invert>span {
  color: var(--white);
}

.button:hover>span {
  background-color: var(--black);
  color: var(--white);
}

.button.invert:hover>span {
  background-color: var(--white);
  color: var(--black);
}

.button .arrowHolder {
  width: 40px;
  border-left: solid 1px var(--black);
  @include m.center-x-y;
}

.button.invert .arrowHolder {
  border-left-color: var(--white);
}

.button .arrowHolder>svg {
  width: 16px;
  height: 16px;
}

.button.invert .arrowHolder>svg {
  fill: var(--white);
}