@import "src/Styles/mixins.scss";

.ourMissionSection {
  padding: 127px 0 77px;
  background-color: var(--website-bg);
  border: solid 1px var(--gray);
  border-right: none;
  border-left: none;
}

.ourMissionSection [data-container] {
  display: flex;
  justify-content: space-between;
}

.ourMissionBg {
  width: 400px;
  height: 616px;
  object-fit: cover;
  border-radius: 20px;
}