@use"src/Styles/mixins" as m;

.ourMissionSection {
  padding: 127px 0 77px;
  background-color: var(--website-bg);
  border: solid 1px var(--gray);
  border-right: none;
  border-left: none;
}

@include m.large {
  .ourMissionSection {
    padding: 120px 0;
  }
}

.ourMissionSection [data-container] {
  display: flex;
  justify-content: space-between;
}

@include m.large {
  .ourMissionSection [data-container] {
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
}

.ourMissionBg {
  width: 400px;
  height: 616px;
  object-fit: cover;
  border-radius: 20px;
}

@include m.small {
  .ourMissionBg {
    width: 340px;
    height: 520px;
  }
}

@media (max-width: 420px) {
  .ourMissionBg {
    width: 290px;
    height: 420px;
  }
}

@include m.very-small {
  .ourMissionBg {
    width: 100%;
    height: 480px;
  }
}