@import "src/Styles/mixins.scss";

.joinUsWrapper {
  border: solid 1px var(--black);
  border-right: none;
  border-left: none;
  padding: 140px 0 180px;
}

@include small {
  .joinUsWrapper {
    padding: 80px 0 120px;
  }
}

.joinUsForm {
  margin: 0 auto;
  width: 720px;
}

@include medium {
  .joinUsForm {
    width: 540px;
  }
}

@include small {
  .joinUsForm {
    width: 100%;
  }
}

.joinUsForm>h2 {
  letter-spacing: .08em;
  line-height: 1.8em;
  font-size: 1.5rem;
  font-weight: 400;
  width: fit-content;
  margin-bottom: 50px;
}

@include small {
  .joinUsForm>h2 {
    margin-bottom: 30px;
    font-size: 1.2rem;
  }
}

@include very-small {
  .joinUsForm>h2 {
    font-size: 1rem;
  }
}