@import "src/Styles/mixins.scss";

.imgHolder {
  overflow: hidden;
  position: absolute;
  right: 2px;
  top: -75px;
  width: 768px;
  scale: 1.16;
}

@media (max-width: 1600px) {
  .imgHolder {
    top: 262px;
    right: 0;
    scale: 1;
  }
}

@media (max-width: 1300px) {
  .imgHolder {
    overflow: visible;
    top: 222px;
    width: 50vw;
  }
}

@include large {
  .imgHolder {
    position: static;
    width: 700px;
  }
}

@include small {
  .imgHolder {
    width: 100%;
  }
}

.imgHolder .img {
  width: 100%;
  min-height: 700px;
  object-position: 0;
  scale: 1.2;
}

@media (max-width: 1300px) {
  .imgHolder .img {
    background-size: cover;
    min-height: 600px;
    scale: 1;
  }
}

@include small {
  .imgHolder .img {
    min-height: auto;
    aspect-ratio: 1/1;
    scale: 1.137 1.1;
  }
}

@include very-small {
  .imgHolder .img {
    scale: 1.064;
  }
}