@import "src/Styles/mixins.scss";

.imgHolder {
  overflow: hidden;
  position: absolute;
  right: 2px;
  top: -75px;
  width: 768px;
  scale: 1.16;
}

@media (max-width: 1600px) {
  .imgHolder {
    top: 262px;
    right: 0;
    scale: 1;
  }
}

@media (max-width: 1300px) {
  .imgHolder {
    right: -100px;
  }
}

@include large {
  .imgHolder {
    top: 222px;
    width: 80%;
    position: relative;
    right: auto;
    top: auto;
  }
}

@include small {
  .imgHolder {
    width: 96%;
  }
}

@media (max-width: 520px) {
  .imgHolder {
    width: 100%;
    scale: 1.142;
    top: -32px;
  }
}

@media (max-width: 420px) {
  .imgHolder {
    width: 100%;
    scale: 1.142;
    top: -25px;
  }
}

@include very-small {
  .imgHolder {
    scale: 1.064;
    top: 1px;
  }
}

.imgHolder .img {
  width: 100%;
  min-height: 700px;
  object-position: 0;
  scale: 1.2;
  position: relative;
}

@media (max-width: 1300px) {
  .imgHolder .img {
    background-size: cover;
    min-height: 600px;
    right: 40px;
  }
}

@include large {
  .imgHolder .img {
    scale: 1.3 1.2;
    min-height: auto;
    right: -86px;
  }
}

@include medium {
  .imgHolder .img {
    right: -78px;
    scale: 1.23;
  }
}

@include small {
  .imgHolder .img {
    aspect-ratio: 1/1;
    scale: 1.25;
  }
}

@media (max-width: 520px) {
  .imgHolder .img {
    right: -56px;
    scale: 1.3;
  }
}

@media (max-width: 420px) {
  .imgHolder .img {
    right: -50px;
    scale: 1.39;
  }
}

@include very-small {
  .imgHolder .img {
    scale: 1;
    right: 0;
  }
}