@import "src/Styles/mixins.scss";

.footer {
  background-color: var(--website-bg);
  padding: 97px 0 46px;
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.footerDetails {
  display: flex;
  justify-content: space-around;
  gap: 60px;
}

@include medium {
  .footerDetails {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infoSection>a {
  display: block;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: .35em;
  color: var(--black);
  margin-bottom: 44px;
}

@include small {
  .infoSection>a {
    font-size: 1rem;
  }
}

.infoSection .wrapper {
  display: flex;
  gap: 60px;
}

@include medium {
  .infoSection .wrapper {
    gap: 40px;
  }
}

@include small {
  .infoSection .wrapper {
    gap: 20px;
  }
}

.infoSection .nav {
  display: flex;
  flex-direction: column;
  gap: 41px;
}

@include small {
  .infoSection .nav {
    gap: 30px;
  }
}

.nav>li>a {
  color: var(--black);
  letter-spacing: .04em;
}

@include small {
  .nav>li>a {
    font-size: .8rem;
  }
}

.infoSection .details {
  display: flex;
  flex-direction: column;
  gap: 41px;
}

@include small {
  .infoSection .details {
    gap: 30px;
  }
}

.details>* {
  letter-spacing: .04em;
}

@include small {
  .details>* {
    font-size: .8rem;
  }
}

.details>a {
  color: var(--black);
}

.details>p {
  width: 234px;
  line-height: 1.8em;
}

@include small {
  .details>p {
    width: 170px
  }
}

.footerDetails .subscribeSection {}

.subscribeSection>h2 {
  margin: 96px 0 36px;
  line-height: 1.8em;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: .1rem;
}

@include medium {
  .subscribeSection>h2 {
    margin-top: 30px;
  }
}

@include small {
  .subscribeSection>h2 {
    font-size: 1rem;
    margin-bottom: 25px;
  }
}

.subscribeSection>p {
  line-height: 1.8em;
  letter-spacing: .05em;
  margin-bottom: 39px;
}

@include small {
  .subscribeSection>p {
    margin-bottom: 25px;
    line-height: 1.5em;
  }
}

.subEmailForm>label {
  display: block;
  margin-bottom: 32px;
}

.subEmailForm .input {
  display: flex;
  width: 100%;
  position: relative;
}

.subEmailForm .input>input {
  outline: none;
  border: solid 1px var(--black);
  border-radius: 10px;
  background-color: var(--white);
  color: var(--black);
  flex: 1;
  padding: 3px;
  padding-left: 16px;
  min-height: 40px;
  max-width: 100%;

  &:hover {
    border-width: 2px;
    background-color: var(--very-light-gray);
  }

  &:focus {
    border-width: 2px;
    background-color: var(--white);
  }
}

@include small {
  .subEmailForm .input>input {
    padding-right: 110px;
  }
}

.subEmailForm .input>button {
  outline: none;
  background-color: var(--black);
  color: var(--white);
  font-size: 1rem;
  letter-spacing: .04em;
  border: solid 1px var(--black);
  border-radius: 10px;
  padding: 4px 10px;
  position: relative;
  right: 18px;
  transition: color .4s ease, background-color .4s ease;
  min-width: 120px;
  height: 40px;

  &:hover {
    background-color: var(--white);
    color: var(--black);
  }
}

@include small {
  .subEmailForm .input>button {
    position: absolute;
    right: 0;
    font-size: .8rem;
    min-width: 100px;
  }
}

.footerBottom {
  display: flex;
  justify-content: space-between;
}

@include medium {
  .footerBottom {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
  }
}

.copyright {
  letter-spacing: .04em;
  line-height: 1.8em;
}

@include small {
  .copyright {
    font-size: .9rem;
  }
}

.socialMedia {
  display: flex;
  gap: 32px;
}

@include small {
  .socialMedia {
    gap: 20px;
  }
}

.socialMedia>li>a {
  display: block;
  width: 24px;
  height: 24px;
}