@import "src/Styles/mixins.scss";

.footer {
  background-color: var(--website-bg);
  padding: 60px 0;
}

.footerDetails {

}

.footerDetails>a {

}

.infoSection {

}

.infoSection .nav {

}

.nav>ul {

}

.nav>ul>li {

}

.nav>ul>li>a {

}

.infoSection .details {

}

.details>span {

}

.details>a {

}

.details>p {

}

.footerDetails .subscribeSection {

}

.subscribeSection>h2 {

}

.subscribeSection>p {

}

.subEmailForm {

}

.subEmailForm>label {

}

.subEmailForm .input {

}

.subEmailForm .input>input {

}

.subEmailForm .input>button {

}

.footerBottom {

}

.copyright {

}

.socialMedia {
  display: flex;
}

.socialMedia>li {

}

.socialMedia>li>a {
  display: block;
  width: 30px;
  height: 30px;
}

.socialMedia>li>a>img {

}
