@import "src/Styles/mixins.scss";

.footer {
  background-color: var(--website-bg);
  padding: 110px 0 46px;
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.footerDetails {
  display: flex;
  justify-content: space-around;
  gap: 60px;
}

@include medium {
  .footerDetails {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

@include small {
  .footer {
    padding-bottom: 0;
  }
}