@import "src/Styles/mixins.scss";

@include medium {
  .subscribeSection {
    width: 375px;
  }
}

@include small {
  .subscribeSection {
    width: 292px;
  }
}

.subscribeSection>h2 {
  margin: 96px 0 36px;
  line-height: 1.8em;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: .1rem;
}

@include medium {
  .subscribeSection>h2 {
    margin-top: 30px;
  }
}

@include small {
  .subscribeSection>h2 {
    font-size: 1rem;
    margin-bottom: 25px;
  }
}

.subscribeSection>p {
  line-height: 1.8em;
  letter-spacing: .05em;
  margin-bottom: 39px;
}

@include small {
  .subscribeSection>p {
    margin-bottom: 25px;
    line-height: 1.5em;
    font-size: .9rem;
  }
}

.subEmailForm>label {
  display: block;
  margin-bottom: 32px;
}

@include small {
  .subEmailForm>label {
    font-size: .9rem;
  }
}

.subEmailForm .input {
  display: flex;
  width: 100%;
  position: relative;
}

.subEmailForm .input>input {
  outline: none;
  border: solid 1px var(--black);
  background-color: var(--white);
  color: var(--black);
  border-radius: 10px;
  flex: 1;
  padding: 3px;
  padding-left: 16px;
  min-height: 40px;
  max-width: 100%;

  &:focus {
    border-width: 2px;
    background-color: var(--white);
  }

  &:not(:focus) {
    background-color: var(--white) !important;
  }

  &:hover {
    border-width: 2px;
    background-color: var(--very-light-gray) !important;
  }
}

@include small {
  .subEmailForm .input>input {
    padding-right: 110px;
  }
}

.subEmailForm .input>input.invalid {
  background-color: var(--light-orange);
}

.subEmailForm .input>button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background-color: var(--black);
  color: var(--white);
  font-size: 1rem;
  letter-spacing: .04em;
  border: solid 1px var(--black);
  border-radius: 10px;
  padding: 4px 10px;
  position: relative;
  right: 18px;
  transition: color .4s ease, background-color .4s ease;
  min-width: 120px;
  height: 40px;

  &:hover {
    background-color: var(--white);
    color: var(--black);
  }

  &:disabled {
    background-color: var(--very-light-gray2);
    border-color: var(--very-light-gray2);
  }
}

@include small {
  .subEmailForm .input>button {
    position: absolute;
    right: 0;
    font-size: .8rem;
    min-width: 100px;
  }
}

.submitMessage {
  letter-spacing: .04em;
  font-size: 1rem;
  width: 321px;
  margin-top: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}