@use"src/Styles/mixins" as m;

.slider {
  padding: 10px;
  border: solid 2px var(--white);
  width: 420px;
  border-radius: 16px;
  padding: 50px 40px 32px;
  position: relative;
  transition: top 1s .2s ease-in-out;
  top: var(--why-us-section-padding);

  &.active {
    top: 0;
  }
}

@include m.small {
  .slider {
    width: 320px;
    padding: 50px 20px 32px;
  }
}

@include m.very-small {
  .slider {
    width: 100%;
  }
}

.slideSpace {
  height: 370px;
}

@include m.small {
  .slideSpace {
    height: 320px;
  }
}