@import "src/Styles/mixins.scss";

.heroSection {
  width: 980px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: calc(920px - var(--shadow-height));
}

@include large {
  .heroSection {
    width: 840px;
    margin-bottom: calc(970px - var(--shadow-height));
  }
}

@include medium {
  .heroSection {
    width: 100%;
    margin-bottom: calc(866px - var(--shadow-height));
  }
}

@include small {
  .heroSection {
    margin-bottom: calc(880px - var(--shadow-height));
  }
}

@include very-small {
  .heroSection {
    margin-bottom: calc(810px - var(--shadow-height));
  }
}

.heroSection>h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: .08em;
  margin-bottom: 16px;
}

@include large {
  .heroSection>h1 {
    font-size: 2.5rem;
    line-height: 1.3em;
  }
}

@include medium {
  .heroSection>h1 {
    font-size: 2rem;
  }
}

@include small {
  .heroSection>h1 {
    font-size: 1.5rem;
  }
}

.heroSection>h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8em;
  letter-spacing: .05em;
}

@include large {
  .heroSection>h2 {
    font-size: 1.25rem;
  }
}

@include medium {
  .heroSection>h2 {
    font-size: 1rem;
  }
}