@import "src/Styles/mixins.scss";

.userExperience {
  background-color: var(--black);
  color: var(--white);
  padding-bottom: 80px;
}

.userExperience [data-container] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

@include large {
  .userExperience [data-container] {
    flex-direction: column;
    align-items: center;
    gap: 120px;
  }
}

@include small {
  .userExperience [data-container] {
    gap: 60px;
  }
}