@use"src/Styles/mixins" as m;

.service {
  display: flex;
  height: 680px;
  position: relative;
}

@media (max-width: 1500px) {
  .service {
    position: relative;
  }
}

@media (max-width: 1300px) {
  .service {
    height: auto;
  }
}

@include m.large {
  .service {
    height: auto;
    width: 100%;
  }
}

@include m.medium {
  .service {
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 40px;
  }
}