@import "src/Styles/mixins.scss";

.stat {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stat>span {
  letter-spacing: .08em;
  font-size: 2.5rem;
  opacity: 0;
  width: fit-content;
  transition: opacity 1s ease;

  &.active {
    opacity: 1;
  }
}

@include small {
  .stat>span {
    font-size: 2rem;
  }
}

.stat>h3 {
  letter-spacing: .16em;
  font-size: .875rem;
  font-weight: 400;
  text-transform: uppercase;
  width: fit-content;
}

@include small {
  .stat>h3 {
    font-size: .7rem;
  }
}