@import "src/Styles/mixins.scss";

.line {
  background-color: var(--gray);
  width: 169px;
  height: 1px;
  position: relative;
}

@include small {
  .line {
    width: 100%;
  }
}

@include very-small {
  .line {
    width: calc(100% - 20px);
  }
}

.line .VerticalLine {
  background-color: var(--black);
  width: 24px;
  height: 2px;
  position: absolute;
  right: 0;
  top: -100%;
  translate: 100% 0;
  transition: right 1.8s;
}

.line.active .VerticalLine {
  right: 100%;
}